<div class="splash splash__logo">
  <div class="logo splash__logo">BillTracker</div>
</div>

<div class="splash">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'splash__form'}) do |f| %>

  <div class="splash__data">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "splash__input box" %>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "splash__input box" %>
    <!-- <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %> -->
  </div>

  <div class="splash__btns">
    <%= f.submit "Log in", class: "btn primary_btn btn_txt"  %>
  </div>

<% end %>
</div>

<%= render "devise/shared/links" %>
